* {
  &,
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

html {
  @include desktopHd {
    font-size: 16px;
  }
  @include desktop {
    font-size: 16px;
  }
  @include tablets {
    font-size: 16px;
  }
  @include phones {
    font-size: 16px;
  }
}

body,
html {
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  flex: 1 1 auto;
}

.wrapper {
  flex: 1 1 auto;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

button {
  border: 0;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

button[type='button'] {
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.container {
  max-width: 100%;
  width: 1400px;
  padding-left: 120px;
  padding-right: 120px;

  @include desktopHd {
    width: 1280px;
    padding-left: 60px;
    padding-right: 60px;
  }
  @include desktop {
    width: 1024px;
    padding-left: 25px;
    padding-right: 25px;
  }
  @include tablets {
    width: 768px;
    padding-left: 24px;
    padding-right: 24px;
  }
  @include phones {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  margin-left: auto;
  margin-right: auto;

  &_link {
    position: relative;
  }
}

.swiper-slide {
  height: auto;
  display: flex;
  flex-direction: column;
}
