$text-color: #fff;
$span-color: #a672ff;
$main-dark: #181818;
$main-dark-alter: #222222;

$links-color: #878787;
$links-color-hover: darken($links-color, 10%);

$bp-desktop-hd: 1399px;
$bp-desktop: 1279px;
$bp-tablets: 1023px;
$bp-phones: 767px;
